* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(91, 147, 225);;
}

.navBar {
  background-color: rgb(74, 137, 225);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}

.logo {
  width: 150px;
}

.logo:hover {
  opacity: 0.5;
}

.linksList {
  font-size: 25px;
  display: flex;
  list-style: none;
}

.linksList a.active {
  background-color: rgb(91, 147, 225);
  color: rgb(211, 211, 211);
}

.linksList a {
  color: white;
  text-decoration: none;
  padding: 15px 16px 16px 16px;
}

.linksList a:hover {
  background-color: rgb(91, 147, 225);
}

.hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 12px 10px 8px 10px;
}

.menuLine {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.wrapper {
  z-index: -1;
  background-color: rgb(91, 147, 225);
  text-align: center;
}

.title {
  font-size: 20px;
}

.homeBodyContent {
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(139, 187, 255);
  max-width: 550px;
  margin: 0 auto;
}

.contributeBodyContent {
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(139, 187, 255);
  max-width: 550px;
  margin: 0 auto;
}

.contactBodyContent {
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(139, 187, 255);
  max-width: 550px;
  margin: 0 auto;
}

.contacts {
  color: black;
}

.bibleVerse {
  font-style: italic;
  text-align: center;
}

.giving-donate-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
  .linksList {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }

  .linksList {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(74, 137, 225);
  }

  .linksList.active {
    display: flex;
  }

  .linksList a {
    color: white;
    text-decoration: none;
    padding: 16px 10px;
    width: 100%;
    text-align: center;
  }
}
